@charset "UTF-8";
.abc {
  --color: red;
}

/*------------- text ------------------*/
/* ------------- background ------------- */
/*----------------- mixin (hàm) ----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

html {
  --color: #000;
  --bg: #fff;
  scroll-behavior: smooth;
}

html.dark {
  --color: #fff;
  --bg: #000;
}

body {
  color: var(--color) !important;
  background-color: var(--bg) !important;
}

.abc {
  --color: red;
}

/*------------- text ------------------*/
/* ------------- background ------------- */
/*----------------- mixin (hàm) ----------------*/
.button-primary {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background: #2a73dd;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.button-primary:hover {
  color: #fff;
  background: #000;
}

.text-header, .header .container .header_right .register, .header .container .header_right .login {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.text-menu, .menu .container .navbar .navbar-collapse .navbar-nav a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.text-product-name, .productDetail .container .row .content_right h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.text-lorem, .footer .footer_bottom .container .item .title a, .footer .footer_top .container .item .title a, .productDetail .container .row .content_right .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.text-available-size, .productDetail .container .row .content_right h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1ED90E;
}

.text-choose-size, .productDetail .container .row .content_right .btn-size {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1E1D1D;
}

.text-price-top, .productDetail .container .row .content_right .price {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FC0303;
}

.text-plush-minus, .productDetail .container .row .content_right .btn-add-remove {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}

.text-amount, .productDetail .container .row .content_right .amount {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.text-add-to-card, .productDetail .container .row .content_right .btn-add-to-cart {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFF8F8;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9019607843) 5.14%, #D017EE 89.71%);
}

.text-realate-product, .realateProduct .container .title h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000;
  text-align: center;
}

.text-name-product, .realateProduct .container .list-item .col-4 .card .card-body .name-product {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}

.text-short-descript, .realateProduct .container .list-item .col-4 .card .card-body .description {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #CBC9C9;
}

.text-buy-now, .realateProduct .container .list-item .col-4 .card .card-body .d-flex button {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.text-price-bottom, .realateProduct .container .list-item .col-4 .card .card-body .d-flex .price {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.text-gradient {
  color: #00e6d8;
  background-image: -webkit-linear-gradient(45deg, #00e6d8 0%, #9425f3 50%, #5136f9 1000%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-gradient, .footer .footer_bottom .container .item .title a p, .footer .footer_top .container .item .title a p, .menu .container .navbar .navbar-collapse .navbar-nav a, .header .container .header_right a {
  background: linear-gradient(to right, #00e6d8, #9425f3, #5136f9);
  background-size: 300% 300%;
  animation: rainbow 2s ease-in-out infinite;
  -webkit-background-clip: text;
          background-clip: text;
  transition: color 0.2s ease-in-out;
}

.fs-1 {
  font-size: 5px;
}

.fs-2 {
  font-size: 10px;
}

.fs-3 {
  font-size: 15px;
}

.fs-4 {
  font-size: 20px;
}

.fs-5 {
  font-size: 25px;
}

.fz-0 {
  font-size: 1rem;
}

.fz-1 {
  font-size: 1.25rem;
}

.fz-2 {
  font-size: 1.5rem;
}

.bg-primary {
  background: blue;
}

.text-primary {
  color: blue;
}

.border-primary {
  border-color: blue;
}

.bg-success {
  background: green;
}

.text-success {
  color: green;
}

.border-success {
  border-color: green;
}

.bg-warning {
  background: rgb(236, 124, 18);
}

.text-warning {
  color: rgb(236, 124, 18);
}

.border-warning {
  border-color: rgb(236, 124, 18);
}

.bg-dark {
  background: #000;
}

.text-dark {
  color: #000;
}

.border-dark {
  border-color: #000;
}

.shadow {
  box-shadow: 0px -1px 6px 5px #E5EDFF;
}

.abc {
  --color: red;
}

/*------------- text ------------------*/
/* ------------- background ------------- */
/*----------------- mixin (hàm) ----------------*/
.header {
  background-color: #000;
  height: 50px;
}
.header .container .header_right a:hover {
  color: rgba(0, 0, 0, 0);
}
.header .container .header_right .charge {
  text-decoration: none;
}
.menu {
  background: #fff;
}
@media screen and (max-width: 576px) {
  .menu .container {
    background: #F8F8F8 !important;
  }
}
.menu .container .navbar .navbar-collapse .navbar-nav a {
  margin-right: 5px;
}
.menu .container .navbar .navbar-collapse .navbar-nav a:hover {
  color: rgba(0, 0, 0, 0);
}
.menu .container .navbar .navbar-collapse .navbar-nav a::after {
  content: "";
  margin-top: 5px;
  width: 0%;
  height: 2px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9019607843) 5.14%, #D017EE 89.71%);
  display: block;
  transition: all 0.5s;
}
.menu .container .navbar .navbar-collapse .navbar-nav a:hover::after {
  width: 100%;
}

.productDetail .container .row .content_left {
  padding-left: 57px;
}
@media screen and (max-width: 768px) {
  .productDetail .container .row .content_left {
    padding-left: 12px;
  }
}
@media screen and (max-width: 576px) {
  .productDetail .container .row .content_left {
    padding-left: 12px;
  }
}
.productDetail .container .row .content_left .card-img {
  margin-top: 58px;
  width: 334px;
  height: 355px;
  background: #F8F8F8;
}
.productDetail .container .row .content_right {
  padding-right: 57px;
}
@media screen and (max-width: 992px) {
  .productDetail .container .row .content_right {
    padding-left: 48px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .productDetail .container .row .content_right {
    padding-left: 48px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .productDetail .container .row .content_right {
    padding: 0 75px;
  }
}
.productDetail .container .row .content_right h2 {
  padding-top: 67px;
}
.productDetail .container .row .content_right .text {
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  .productDetail .container .row .content_right h3 {
    margin-top: 0.5rem;
  }
}
.productDetail .container .row .content_right .btn-size {
  width: 50px;
  height: 50px;
  background: #CCCCCC;
  border: none;
  margin: 0.5rem 1rem 0 0;
}
@media screen and (max-width: 576px) {
  .productDetail .container .row .content_right .btn-size {
    margin: 0.5rem 0.75rem 0 0;
  }
}
.productDetail .container .row .content_right .price {
  margin-top: 1rem;
}
.productDetail .container .row .content_right .btn-add-remove {
  width: 50px;
  height: 50px;
  border: none;
}
.productDetail .container .row .content_right .amount {
  width: 45px;
  margin: 0 10px;
  padding: 3px 0;
  background: #DEDDDC;
}
.productDetail .container .row .content_right .btn-add-to-cart {
  display: block;
  width: 175px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin-top: 0.75rem;
}

.realateProduct {
  background: #FFFCFC;
}
.realateProduct .container .title h2 {
  margin: 1rem 0 5.5rem 0;
}
@media screen and (max-width: 768px) {
  .realateProduct .container .title h2 {
    margin: 1rem 0 4rem 0;
  }
}
@media screen and (max-width: 576px) {
  .realateProduct .container .title h2 {
    margin: 1rem 0 3rem 0;
  }
}
.realateProduct .container .list-item .col-4 {
  width: 334px;
  box-sizing: border-box;
}
.realateProduct .container .list-item .col-4 .card {
  background: #F8F8F8;
  overflow: hidden;
}
.realateProduct .container .list-item .col-4 .card img {
  width: 100%;
  margin: 0;
}
.realateProduct .container .list-item .col-4 .card .card-body .d-flex button {
  width: 60%;
  padding: 1rem 0;
  border: none;
  background: #E1B067;
}
.realateProduct .container .list-item .col-4 .card .card-body .d-flex button:hover {
  color: red;
}
.realateProduct .container .list-item .col-4 .card .card-body .d-flex .price {
  width: 40%;
  padding: 1rem 0;
  margin-bottom: 0;
  background: #DEDDDC;
}
.footer .footer_top {
  background: #fafafa;
}
.footer .footer_top .container .item .title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #1E1D1D;
}
.footer .footer_top .container .item .title a {
  display: block;
  text-decoration: none;
  font-size: 13px;
}
.footer .footer_top .container .item .title a p {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.footer .footer_top .container .item .title a p:hover {
  color: rgba(0, 0, 0, 0);
}
.footer .footer_top .container .item .title1, .footer .footer_top .container .item .title2 {
  border-right: 1px solid #CCCCCC;
}
.footer .footer_top .container .item .title3 a:last-of-type {
  color: #FC0303;
}
.footer .footer_bottom {
  background: #ececec;
}
.footer .footer_bottom .container .item .title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #1E1D1D;
}
.footer .footer_bottom .container .item .title a {
  display: block;
  text-decoration: none;
  font-size: 13px;
}
.footer .footer_bottom .container .item .title a p {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.footer .footer_bottom .container .item .title a p:hover {
  color: rgba(0, 0, 0, 0);
}
.footer .footer_bottom .container .item .title a:last-of-type {
  color: #FC0303;
}
.footer .footer_bottom .container .item .title1, .footer .footer_bottom .container .item .title2 {
  border-right: 1px solid #CCCCCC;
}

/* Back To Top */
.backToTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  visibility: hidden;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .backToTop {
    right: 10px;
    bottom: 20px;
  }
}

/* back-to-top button visible */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.backToTop i {
  color: #D017EE;
  border: 3px solid #D017EE;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .backToTop i {
    width: 45px;
    height: 45px;
    line-height: 40px;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}