//Khai báo biến
//--------------Biến trong css-----------
.abc {
    --color: red;
}

/*------------- text ------------------*/
$text-c0-primary: #2a73dd;
$text-c0-dark: #000;
$text-c1-dark: #1E1D1D;
$text-c0-light: #fff;
$text-c0-secondary: #CCCCCC;
$text-c1-secondary: #F8F8F8;
$text-c2-secondary: #CBC9C9;
$text-c4-secondary: #FFF8F8;
$text-c3-success: #1ED90E;
$text-c0-danger: #FC0303;
$text-c1-violet: #9425f3;
$text-c0-violet: #00e6d8;
$text-c2-violet: #5136f9;




$fs-base: 16px;
$fs-xl: 18px;
$fs-2xl: 20px;
$fs-3xl: 30px;
$fs-4xl: 40px;
$fs-5xl: 50px;
$fs-6xl: 60px;
$fs-7xl: 70px;

$fw-light: 300;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;

$lh-sm: 19px;
$lh-base: 24px;
$lh-md: 29px;
$lh-lg: 36px;
$lh-xl: 48px;



// -------------Biến trong sass----------
/* ------------- background ------------- */
$bg-c0-primary: #2a73dd;
$bg-c1-primary: #3e20f8e6;
$bg-c0-secondary: #CCCCCC;
$bg-c1-secondary: #DEDDDC;
$bg-c2-secondary: #FFFCFC;
$bg-c3-secondary: #F8F8F8;
$bg-c4-secondary: #fafafa;
$bg-c5-secondary: #ececec;
$bg-c0-puple: #6181F3;
$bg-c1-puple: #7C97F5;
$bg-c0-violet: #D017EE;
$bg-c3-danger: #E1B067;
$bg-c0-dark: #000;
$bg-c0-light: #fff;
$bg-none: transparent;

/*----------------- mixin (hàm) ----------------*/
@mixin text($fw, $fz, $lh, $c) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $c;
}

@mixin button($fz, $fw, $c, $bg, $bd, $br, $p, $c-hover, $bg-hover) {
    font-size: $fz;
    font-weight: $fw;
    color: $c;
    background: $bg;
    border: $bd;
    border-radius: $br;
    padding: $p;
    cursor: pointer;

    &:hover {
        color: $c-hover;
        background: $bg-hover;
    }
}
