.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $bg-c0-dark;
  height: 60px;

  .container {
      .header_left {
          .logo {
              img {}
          }
      }

      .header_right {
          a{
              &:hover{
                  color:$text-c0-violet;
              }
          }
          .charge {
              text-decoration: none;

              img {}
          }

          .login {
              @extend .text-header;
          }

          .register {
              @extend .text-header;
          }

      }
  }
}
