header {
  background: #000;
  .list-flex {
    a {
    }
    .img {
    }
    .login {
      img {
      }
      a {
        color: $bg-primary-c1;
        &:hover {
          color: plum;
        }
      }
    }
  }
}
