.menu {
  padding-top: 50px;
  background: $bg-c0-light;
  // height: 50px;

  .container {
      @media screen and (max-width: 576px) {
          // background: $bg-c0-secondary !important;
          background: #F8F8F8 !important;
      }

      .navbar {
          button {
              span {}
          }

          .navbar-collapse {
              .navbar-nav {
                  .active {
                  }

                  a {
                      @extend .text-menu;
                      margin-right: 5px;

                      @extend .hover-gradient;
                      &:hover{
                          color:rgba(0,0,0,0);
                      }

                      &::after{
                          content: "";
                          margin-top: 5px;
                          width: 0%;
                          height: 2px;
                          background: linear-gradient(270deg, $bg-c1-primary 5.14%, $bg-c0-violet 89.71%);
                          display: block;
                          transition: all 0.5s;
                      }
                      &:hover::after{
                          width: 100%;
                      }

                  }
              }
          }
      }
  }

}