@import "../base/base";
@import "../components/component.scss";
@import "../themes/variable";


.header {
    background-color: $bg-c0-dark;
    height: 50px;

    .container {
        .header_left {
            .logo {
                img {}
            }
        }

        .header_right {
            a{
                @extend .hover-gradient;
                &:hover{
                    color:rgba(0,0,0,0);
                }
            }
            .charge {
                text-decoration: none;

                img {}
            }

            .login {
                @extend .text-header;
            }

            .register {
                @extend .text-header;
            }

        }
    }
}

.menu {
    background: $bg-c0-light;
    // height: 50px;

    .container {
        @media screen and (max-width: 576px) {
            // background: $bg-c0-secondary !important;
            background: #F8F8F8 !important;
        }

        .navbar {
            button {
                span {}
            }

            .navbar-collapse {
                .navbar-nav {
                    .active {
                    }

                    a {
                        @extend .text-menu;
                        margin-right: 5px;

                        @extend .hover-gradient;
                        &:hover{
                            color:rgba(0,0,0,0);
                        }

                        &::after{
                            content: "";
                            margin-top: 5px;
                            width: 0%;
                            height: 2px;
                            background: linear-gradient(270deg, $bg-c1-primary 5.14%, $bg-c0-violet 89.71%);
                            display: block;
                            transition: all 0.5s;
                        }
                        &:hover::after{
                            width: 100%;
                        }

                    }
                }
            }
        }
    }

}


.productDetail {
    .container {
        // width: 1280px;
        // height: 530px;

        .row {
            .content_left {
                padding-left: 57px;
                @media screen and (max-width: 768px) {
                    padding-left: 12px;
                }

                @media screen and (max-width: 576px) {
                    padding-left: 12px;
                }

                .card-img {
                    margin-top: 58px;
                    width: 334px;
                    height: 355px;
                    background: $bg-c3-secondary;

                    img {
                        // padding: 109px 0 0 57px;
                    }
                }
            }

            .content_right {
                padding-right: 57px;
                @media screen and (max-width: 992px) {
                    padding-left: 48px;
                    padding-right: 40px;
                }
                @media screen and (max-width: 768px) {
                    padding-left: 48px;
                    padding-right: 30px;
                }

                @media screen and (max-width: 576px) {
                    padding: 0 75px;
                }

                
                h2 {
                    @extend .text-product-name;
                    padding-top: 67px;
                }

                .text {
                    // width: 503px;
                    margin-bottom: 0;
                    @extend .text-lorem;
                }

                h3 {
                    @extend .text-available-size;

                    @media screen and (max-width: 576px) {
                        margin-top: 0.5rem;
                    }
                }

                .btn-size {
                    width: 50px;
                    height: 50px;
                    background: $bg-c0-secondary;
                    border: none;
                    margin: 0.5rem 1rem 0 0;
                    @extend .text-choose-size;

                    @media screen and (max-width: 576px) {
                        margin: 0.5rem 0.75rem 0 0;
                    }
                }

                .price {
                    @extend .text-price-top;
                    margin-top: 1rem;
                }

                .btn-add-remove {
                    width: 50px;
                    height: 50px;
                    border: none;
                    @extend .text-plush-minus;
                }

                .amount {
                    @extend .text-amount;
                    width: 45px;
                    margin: 0 10px;
                    padding: 3px 0;
                    background: $bg-c1-secondary;
                }

                .btn-add-to-cart {
                    display: block;
                    width: 175px;
                    height: 64px;
                    line-height: 64px;
                    text-align: center;
                    @extend .text-add-to-card;
                    margin-top: 0.75rem;
                }
            }
        }
    }
}


.realateProduct {
    background: $bg-c2-secondary;

    .container {
        .title {
            h2 {
                @extend .text-realate-product;
                margin: 1rem 0 5.5rem 0;

                @media screen and (max-width: 768px) {
                    margin: 1rem 0 4rem 0;
                }

                @media screen and (max-width: 576px) {
                    margin: 1rem 0 3rem 0;
                }
            }
        }

        .list-item {

            .col-4 {
                width: 334px;
                box-sizing: border-box;

                .card {
                    background: $bg-c3-secondary;
                    overflow: hidden;

                    img {
                        width: 100%;
                        margin: 0;
                    }

                    .card-body {
                        .name-product {
                            @extend .text-name-product;
                        }

                        .description {
                            @extend .text-short-descript;
                        }

                        .d-flex {
                            button {
                                width: 60%;
                                padding: 1rem 0;
                                @extend .text-buy-now;
                                border: none;
                                background: $bg-c3-danger;

                                &:hover{
                                    color: red;
                                }
                            }

                            .price {
                                width: 40%;
                                padding: 1rem 0;
                                margin-bottom: 0;
                                @extend .text-price-bottom;
                                background: $bg-c1-secondary;

                                p {}
                            }
                        }
                    }
                }
            }
        }
    }
}


.footer{
    .footer_top{
        background: $bg-c4-secondary;

        .container{
            // padding-left: 150px;
            .item{
                .title{
                    h3{
                        @include text($fw-semibold, $fs-xl, $lh-md, $text-c1-dark);
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        @extend .text-lorem ;
                        font-size: 13px;
                        p{
                            display: inline-block;
                            margin-bottom: 0.5rem;
                            @extend .hover-gradient;
                            &:hover{
                                color:rgba(0,0,0,0);
                            }
                        }
                    }

                }
                .title1,.title2{
                    border-right: 1px solid $bg-c0-secondary;
                }
                .title3{
                    a:last-of-type{
                        color: $text-c0-danger;
                    }
                }
            }
        }
    }
    
    .footer_bottom{
        background: $bg-c5-secondary;

        .container{
            // padding-left: 100px;
            .item{
                .title{
                    h3{
                        @include text($fw-semibold, $fs-xl, $lh-md, $text-c1-dark);
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        @extend .text-lorem ;
                        font-size: 13px;

                        p{
                            display: inline-block;
                            margin-bottom: 0.5rem;
                            @extend .hover-gradient;
                            &:hover{
                                color:rgba(0,0,0,0);
                            }
                        }
                    }
                    a:last-of-type{
                        color: $text-c0-danger;
                    }
                }
                .title1,.title2{
                    border-right: 1px solid $bg-c0-secondary;
                }
            }
        }
    }
}


/* Back To Top */
.backToTop{
    position: fixed;
    right: 40px;
    bottom: 40px;
    visibility: hidden;
    opacity: 0;

    @media screen and (max-width: 768px) {
        right: 10px;
        bottom: 20px;
    }

}

/* back-to-top button visible */
.cd-top--is-visible { 
    visibility: visible;    // can not tab
    opacity: 1;

}


.backToTop i{
    color: $bg-c0-violet;
    border: 3px solid $bg-c0-violet;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;


    @media screen and (max-width: 768px) {
        width: 45px;
        height: 45px;
        line-height: 40px;
    }
}


// Hover text gradient
@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }